<!DOCTYPE html>
<html lang="ar"
      dir="rtl"
      class="sm:text-[17.5px] lg:text-[19px] xl:text[20px] text-[15.5px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if register %}
      <title>كلمة - حساب جديد</title>
    {% else %}
      <title>كلمة - تسجيل دخول</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Lateef:wght@400&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/auth.css') }}" />
  </head>
  <body class="flex min-h-screen flex-col sm:justify-between bg-my-black bg-[url('../images/auth-bg-.5.png')] bg-cover bg-no-repeat leading-none text-white sm:bg-[url('../images/auth-bg.png')] xl:bg-[url('../images/auth-bg-2.png')]">
    <header class="mx-4 mt-6 flex flex-col items-center justify-between sm:flex-row">
      <a href="#" class="mr-13">
        <img class="h-12"
             alt="logo"
             src="{{ url_for('static', filename='images/logo-2.png') }}" />
      </a>
      <nav class="mt-4 flex w-full items-center justify-between text-2xl sm:w-fit">
        <a href="{{ url_for('main.home') }}"
           class="sm:me-12 md:me-16 border-b-2 border-transparent">الصفحة الرئيسية</a>
        <a href="{{ url_for('auth.login') }}"
           class="{{ 'sm:me-12 md:me-16 border-b-2 ' ~ (' border-b-transparent' if register else ' border-b-my-lightblue text-shadow-(--active-nav-link-text-shadow)') }}">
          تسجيل دخول
        </a>
        <a href="{{ url_for('auth.register') }}"
           class="{{ 'border-b-2 border-b-transparent' if not register else 'border-b-2 border-b-my-lightblue text-shadow-(--active-nav-link-text-shadow)' }}">
          حساب جديد
        </a>
      </nav>
    </header>
    <main class="mx-auto mt-11 w-full max-w-lg px-3 sm:mb-8">
      {% for category, msg in get_flashed_messages(with_categories=true) %}
        <p class="mb-4 text-4xl text-center {{ 'text-green-500' if category=='success' }} {{ 'text-red-500' if category=='error' }}">
          {{ msg }}
        </p>
      {% endfor %}
      <form method="post" novalidate>
        {% for field in form %}
          {% if field.type == "CSRFTokenField" %}
            {{ field() }}
          {% elif field.type in ["StringField", "EmailField", "PasswordField"] %}
            {{ field(class="input-field mt-3" | add_if_errors("border-red-500 border-1", field, error_msg) ,
            placeholder=field.label.text) }}
            {% if field.errors %}
              <p class="text-xl text-red-500">{{ field.errors[0] }}</p>
            {% endif %}
          {% elif field.type == "BooleanField" %}
            {{ field.label(class="inline-block mt-2 mx-1 text-2xl") }}
            {{ field() }}
          {% elif field.type == "SubmitField" %}
            {{ field(class="bg-btn-main block mx-auto mt-4 hover:cursor-pointer") }}
          {% endif %}
        {% endfor %}
      </form>
      {% if not register %}
        <a class="mt-4 block text-center text-my-lightblue text-2xl"
           href="{{ url_for('auth.forgot_password') }}">نسيت كلمة المرور ؟</a>
      {% endif %}
    </main>
    <div class="mt-6"></div>
  </body>
</html>
