<!DOCTYPE html>
<html lang="ar"
      dir="rtl"
      class="sm:text-[17.5px] lg:text-[19px] xl:text[20px] text-[15.5px]">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>كلمة - نسيت كلمة المرور</title>
        <link href="https://fonts.googleapis.com/css2?family=Lateef:wght@400&display=swap"
              rel="stylesheet" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/status.css') }}" />
    </head>
    <body class="flex min-h-screen flex-col sm:justify-between bg-my-black bg-[url('../images/auth-bg-.5.png')] bg-cover bg-no-repeat leading-none text-white sm:bg-[url('../images/auth-bg.png')] xl:bg-[url('../images/auth-bg-2.png')]">
        <header class="mx-4 mt-6 flex flex-col items-center justify-between sm:flex-row">
            <a href="#" class="mr-13">
                <img class="h-12"
                     alt="logo"
                     src="{{ url_for('static', filename='images/logo-2.png') }}" />
            </a>
            <nav class="mt-4 flex w-full items-center justify-between text-2xl sm:w-fit">
                <a href="{{ url_for('main.home') }}"
                   class="sm:me-12 md:me-16 border-b-2 border-transparent">الصفحة الرئيسية</a>
                <a href="{{ url_for('auth.login') }}"
                   class="sm:me-12 md:me-16 border-b-2 border-b-transparent">
                    تسجيل دخول
                </a>
                <a href="{{ url_for('auth.register') }}"
                   class="border-b-2 border-b-transparent">حساب جديد</a>
            </nav>
        </header>
        <main class="mx-auto mt-11 w-full max-w-lg px-3 sm:mb-8">
            {% for category, msg in get_flashed_messages(with_categories=true) %}
                <p class="mb-4 text-4xl text-center {{ 'text-green-500' if category=='success' }} {{ 'text-red-500' if category=='error' }}">
                    {{ msg }}
                </p>
            {% endfor %}
        </main>
        <div class="mt-6"></div>
    </body>
</html>
